* {
  border: 0;
  margin: 0;
  padding: 0;
}

.covid-map-container {
  margin: 0.5rem;
  background: #f1f2f8;
}

.covid-map-img {
  display: block;
  width: 100%;
  margin: 1rem auto;
}

.covid-map-text h1 {
  margin: 1rem auto;
}

.covid-anchor {
  text-decoration: none;
}

.covid-btn {
  display: block;
  margin: 1rem auto;
  background: green;
  width: 100%;
  padding: 0.7rem 0;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

@media screen and (min-width: 789px) {
  .covid-map-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1172px;
    margin: 0 auto;
  }
  .covid-map-image {
    flex: 1 0 calc(50% - 1rem);
  }
  .covid-map-text {
    flex: 1 0 calc(50% - 1rem);
  }
  .covid-map-text h1 {
    margin: 2rem 0;
    font-size: 3rem;
    margin-left: 1rem;
  }
  .covid-map-text h4 {
    font-size: 1.5rem;
    margin: 2rem 0;
    margin-left: 1rem;
  }
  .covid-btn {
    margin-left: 1rem;
    width: 90%;
  }
} ;
